<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>Hydra</string>
  <key>description</key>
  <string>Syntax highlighting for Hydra's native textual syntax (.hy)</string>
  <key>uuid</key>
  <string>6f3a1c94-7b2e-4d58-9c31-0a5e8d2f7b60</string>
</dict>
</plist>
